<div class="container">
  <section class="s1">
    <div class="myinfodiv">
      <app-infobox [boxcontent]="boxdata[0]"></app-infobox>
    </div>

    <div class="animdiv">
      <section>
        <div class="kframediv">
          <span
            >-LATEST WORK AND FEATURED -LATEST WORK AND FEATURED -LATEST WORK
            AND FEATURED -LATEST WORK AND FEATURED -LATEST WORK AND FEATURED
            -LATEST WORK AND FEATURED -LATEST WORK AND FEATURED</span
          >
        </div>
      </section>
      <section class="mini-section">
        <div class="d2">
          <app-infobox [boxcontent]="boxdata[1]"></app-infobox>
        </div>
        <div class="d3">
          <app-infobox [boxcontent]="boxdata[2]"></app-infobox>
        </div>
      </section>
    </div>
  </section>

  <section class="s2">
    <div class="d3">
      <app-infobox [boxcontent]="boxdata[3]"></app-infobox>
    </div>
    <div class="d3">
      <app-infobox [boxcontent]="boxdata[4]"></app-infobox>
    </div>
    <div class="d3">
      <app-infobox [boxcontent]="boxdata[5]"></app-infobox>
    </div>
  </section>
</div>
