<div class="container">
  <section class="s1">
    <div class="myinfodiv">
      <app-infobox [boxContent]="boxData[0]"></app-infobox>
    </div>

    <div class="animdiv">
      <section>
        <div class="kframediv">
          <span>{{ keyFrameString }}</span>
        </div>
      </section>
      <section class="mini-section">
        <div class="s1d2">
          <app-infobox [boxContent]="boxData[1]"></app-infobox>
        </div>
        <div class="s1d2">
          <app-infobox [boxContent]="boxData[2]"></app-infobox>
        </div>
      </section>
    </div>
  </section>

  <section class="s2">
    <div class="s2-div1" *ngFor="let data of boxData; let i = index">
      <ng-container *ngIf="i > startIndex">
        <div class="s2d2" [ngClass]="{ s2d3: i > 3 }">
          <app-infobox [boxContent]="data"></app-infobox>
        </div>
      </ng-container>
    </div>
  </section>
</div>
