<app-slidediv></app-slidediv>
<div class="container">
  <section class="s1">
    <div class="s1-maindiv">
      <div class="myinfodiv">
        <app-infobox
          [boxContent]="boxData[0]"
          boxType="HPageinstance1"
        ></app-infobox>
      </div>

      <div class="animdiv">
        <section class="s1-minisection1">
          <div class="kframediv zoom-in-animation">
            <span>{{ keyFrameString }}</span>
          </div>
        </section>
        <section class="s1-minisection2">
          <div class="s1d2">
            <app-infobox [boxContent]="boxData[1]"></app-infobox>
          </div>
          <div class="s1d3">
            <app-infobox [boxContent]="boxData[2]"></app-infobox>
          </div>
        </section>
      </div>
    </div>
  </section>

  <section class="s2">
    <div class="s2-div1" *ngFor="let data of boxData; let i = index">
      <ng-container *ngIf="i > startIndex && i < startIndex + 4">
        <div class="s2d2" [ngClass]="{ s2d3: i > 3 }">
          <app-infobox
            [boxContent]="data"
            [boxType]="'HPageinstance' + (i + 1)"
          ></app-infobox>
        </div>
      </ng-container>
    </div>
  </section>
</div>
