.container {
  margin-top: 5%;
}
section {
  display: flex;
}

.s1d2 {
  margin-left: 3ch;
}

.s2d2 {
  margin-left: 0ch;
}

.s2d3 {
  margin-left: 3ch;
}
.s2 {
  margin-top: 3ch;
}

.animdiv {
  display: flex;
  flex-direction: column;
  margin-left: 2ch;
}

.mini-section {
  display: flex;
  margin-top: 2ch;
}

.kframediv {
  width: 100%;
  height: 3ch;
  padding-top: 3ch;
  padding-bottom: 3ch;
  border-radius: 10ch;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/pics/bg1.png");
  background-color: rgb(15, 15, 15);
  margin-left: 3ch;
  color: aqua;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.kframediv span {
  white-space: nowrap;
  animation: slide-left 20s linear infinite;
  position: absolute;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
