.container {
  margin-top: 10ch;
  height: auto;
  position: relative;
  margin-left: 12%;
  margin-right: 8%;
  animation: maindivOp 2s ease;
}

section {
  display: flex;
}

.s1-maindiv {
  display: flex;
}

.s1 {
  display: flex;
}

.myinfodiv {
  height: 100%;
}

.s1d3 {
  margin-left: 3ch;
}

.s2d3 {
  margin-left: 30px;
  height: 100%;
}
.s2 {
  margin-top: 3ch;
}

.animdiv {
  display: flex;
  flex-direction: column;
  margin-left: 3ch;
}

.s1-minisection2 {
  display: flex;
  margin-top: 2ch;
  width: auto;
  height: auto;
}

.kframediv {
  width: 100%;
  height: 3ch;
  padding-top: 3ch;
  padding-bottom: 3ch;
  border-radius: 10ch;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/pics/bg1.png");
  background-image: linear-gradient(
    to right,
    rgba(69, 68, 68, 0.321),
    rgba(49, 49, 49, 0.127)
  );
  background-color: rgb(15, 15, 15);

  color: aqua;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.kframediv span {
  white-space: nowrap;
  animation: slide-left 20s linear infinite;
  position: absolute;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1100px) {
  section,
  .s1d2,
  .s1d3,
  .s2d2,
  .animdiv,
  .s1-maindiv {
    margin-top: 3ch;
    display: flex;
    flex-direction: column;
    margin-left: 0ch;
  }
}

@media only screen and (max-width: 1350px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100;
  }
}

@keyframes maindivOp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.zoom-in-animation {
  animation: zoomIn 3s ease;
}
