.info-box-div {
  display: flex;
  height: auto;
  width: auto;
  background-color: rgb(15, 15, 15);
  background-image: url("../../assets/pics/bg1.png");
  border-radius: 4ch;
  padding: 5ch;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: gray;
}

p {
  color: gray;
}

.textdiv {
  margin-left: 3ch;
}

img {
  border-radius: 2ch;
  height: auto;
}

.divicon {
  position: relative;
}

.iconimg {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 10%;
  transition: opacity 0.2s;
}

.info-box-div:hover .iconimg {
  opacity: 100%;
}

.customSettingClass {
  margin-top: 10ch;
}
