* {
  box-sizing: border-box;
}

.main-div {
  height: 100%;
}

.info-box-div {
  position: relative;
  display: flex;
  height: 100%;
  width: auto;
  background-color: rgb(15, 15, 15);
  background-image: url("../../assets/pics/bg1.png");
  background-image: linear-gradient(
    to right,
    rgba(69, 68, 68, 0.321),
    rgba(49, 49, 49, 0.127)
  );
  border-radius: 4ch;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3ch;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100;
  }
}

.zoom-in-animation {
  animation: zoomIn 3s ease;
}

h4 {
  color: gray;
}

p {
  color: gray;
}

.div-img {
  border-radius: 2ch;
  height: auto;
  max-width: 100%;
}

.iconimg {
  position: absolute;
  bottom: 2ch;
  right: 2ch;
  opacity: 10%;
  transition: opacity 0.2s;
}

.info-box-div:hover .iconimg {
  opacity: 100%;
}

.custominst1 {
  margin-left: 20px;
}

.custominst2 {
  margin-top: 8ch;
}

.displayNone {
  display: none;
}

.customAboutpage {
  font-size: 30px;
}

@media only screen and (max-width: 1100px) {
  .textdiv,
  .custominst2 {
    text-align: center;
  }

  .img-div {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .info-box-div {
    font-size: smaller;
  }

  .divicon {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .div-img {
    min-height: 50%;
    min-width: 50%;
  }

  .custominst1 {
    font-size: smaller;
  }
}
