<div class="main-div">
  <div
    class="info-box-div zoom-in-animation"
    [ngStyle]="{
      display: boxContent.displayStyle,
    }"
  >
    <div class="img-div">
      <img class="div-img" [src]="boxContent.imageUrl" alt="My Profile" />
    </div>
    <div
      [ngClass]="{
        custominst1: customSetting == 'instance1',
        custominst2: customSetting == 'instance2',
        textdiv: customSetting == 'default',
        customAboutpage: flag2 === true
      }"
    >
      <h4>{{ boxContent.heading4 }}</h4>
      <h1>
        {{ boxContent.heading1 }}
        <span *ngIf="flag2"
          ><br />work
          <span style="color: #5b78f6">together</span>
        </span>
      </h1>
      <p>{{ boxContent.paragraphContent }}</p>

      <img
        [ngClass]="{
          divicon: hideIcon == false,
          displayNone: hideIcon == true
        }"
        class="iconimg"
        src="../../assets/pics/icon.png"
        alt=""
      />
    </div>
  </div>
</div>
