<body>
  <div
    class="maindiv"
    [ngStyle]="{ display: displayOption }"
    [ngClass]="{ maindivFooter: navBarType === 'footer' }"
  >
    <div>
      <img src="~../../assets/pics/logo.jpg" />
    </div>
    <div
      class="list-div"
      [ngClass]="{ listDivFooter: navBarType === 'footer' }"
    >
      <ul>
        <li *ngFor="let links of linksArray">
          <a routerLink="{{ links.linkPath }}">{{ links.linkTitle }}</a>
        </li>
      </ul>
    </div>
    <div
      class="theme-btn"
      [ngClass]="{ themeBtnFooter: navBarType === 'footer' }"
    >
      Let's Talk
    </div>
  </div>
</body>
